
hr{
    border-top:1px solid #2F2E6F;
    width:100%;
}

#wrap_logo{
    /* border-style: solid; */
    width:1024px;
}

.logo{
    font-style: bold;
    margin: 10px 0px;
    font-family: space;
    font-size: 4rem;
    color:#2F2E6F;
    display:inline-block;
    margin-left:1rem;
}
.member{
    font-size: 28px;
    color:#2F2E6F;
    float:right;
    display:inline-flex;
    /* position: absolute; */
    margin-right:1rem;
    margin-top:2rem;
}

@media screen and (min-width:1024px){
    /*PC 화면*/
    
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*태블릿 화면*/
    hr{
        width: 90%;
        }
    #wrap_logo{
        width:100%;
        text-align: center;
    }
    .logo{
        font-size: 3rem;
    }
    .member{
        display:none;
    }

    
}
@media screen and (max-width:768px){
    hr{
    width: 90%;
    }
    /*모바일 화면*/
    #wrap_logo{
  
        width:100%;
        text-align: center;
    }
    .logo{
     
        font-size: 3rem;
    }
    .member{
        display:none;
    }

}