body{
    background-color: white;
}

hr{
    border-top:1px solid #2F2E6F;
}




#wrap{
    border: solid red;
    position:relative;
    width:1024px;
    height:100vh;
    margin: 0px auto;
    min-height: 30rem;
}



.wrap_middle{
    /* position: relative; */
    /* border-style: solid;
    border-color: blueviolet; */
    /* display: inline-block; */
    height:77%;
}

.profiles{
    padding: 0 1.2rem; 
    width:fit-content;
    /* box-sizing: content-box; */

    display:flex; 
     /* align-items: center;
    justify-content: space-between; */

    /* flex-wrap: wrap;
    flex-direction: center; */

    border: solid green;


    /* margin: 3rem auto 0 auto; */
    /* margin-top:3rem; */
    text-align: center;
    /* display: inline-block; */

    
    /* justify-content: space-between; */
    /* margin-left:2.55rem; */
    
}

.tts{
    border: solid orange;
    font-size: 16.5px;
    text-align: center;
}

.tts_text{
    bottom: 1rem;
    color:#2F2E6F;
    margin-bottom:0.8rem;
}

.tts_button{
    font-size: 17px;
    width: 300px;
    height: 60px;
    background-color: #2F2E6F;
    border-radius: 7px;
    color:white;  
}

#wrap_copyright{
    border: solid purple;
    width: 100%;
    font-size: 9px;
    /* height:5%; */
}

@media screen and (min-width:1024px){
    /*PC 화면*/
    
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*태블릿 화면*/
    body{
        background-color: darkgray;
    }
    #wrap{
        width:100%;
    }
    #wrap_copyright{
        display:none;
    }
    
}
@media screen and (max-width:767px){
    /*모바일 화면*/
    body{
        background-color:dimgrey;
    }
    #wrap{
        width:100%;
    }
    #wrap_copyright{
        display:none;
    }
}
    