hr{
    border-top:2.3px solid #2F2E6F;
}


#wrap{
    /* border: solid; */
    width:1024px;
    height:100%;
    margin: 0px auto;
    min-height: 700px;
    min-width:240px;
}

.upload_big_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.upload_area{

    border: 0.09rem dashed #000000;
    height: 230px;
    width: 380px;
    border-radius: 8px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
    margin-top: 5rem;
   
}
.loadingArea{
    overflow: hidden;
    width: 380px;

}

header{

    font-size: 30px;
    font-weight: bold;
    color: #2F2E6F;
}
.convert{
    
    color: #ffffff;
    background-color: #2F2E6F;
    font-size: 20px;
    width: 300px;
    height: 60px;
    margin-top: 30px;

    border: 0px ;
    border-radius: 7px;
}



.convertEnd{
    align-items: center;
    width:100%;
    margin: 4rem auto;
}

.readyMakeTTS{
  
    margin-left: 12%;
    font-size: 1.4rem;
    font-family: apple;
    font-weight: bold;
}

.playbar{
    display: inline-block;
    width:100%;
    height:  auto;
    margin: 0 auto;
    
    /* border: solid green; */
    text-align: center;
}

.write{  
    width:70%;
    height:2rem;
    border-color:grey;
    border-width: 0.1rem;
    border-radius: 0.3rem;;
    font-size: 1.1rem;
    font-family: apple;
}
.play{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border:none;
    border-radius: 2rem;
    background-color: #2F2E6E;
    background-image: url(../Images/play40.png);
    margin-left: 0.8rem;
    top:0.75rem;
    color:white;
}

@media screen and (min-width:1024px){
    /*PC 화면*/
    
}

@media screen and (min-width:768px) and (max-width:1023px){
    /*태블릿 화면*/
    /* body{
        background-color: darkgray;
    } */

    #wrap{
        width:100%;
    }
    
    
   
}
@media screen and (max-width:768px){
    /*모바일 화면*/

    /* body{
        background-color: dimgrey;
    } */
    header{ 
    
        font-size: 23px;
        font-weight: bold;
        color: #2F2E6F;
    }
    #wrap{
        width:100%;
    }

    .upload_big_area{
        margin-top:-2rem;
    }

    .upload_area{
        padding: 5%;
        width:53%;
        height:100%;
    }

    .upload_area header{
        text-align: center;
    }

    .upload_area div{
        text-align: center;
    }
    .loadingArea{
        overflow: hidden;
        width: 63%;
    
    }

    .convert{
        
        width:220px;
        height:50px;
        margin-top: 20px;
    }
    .readyMakeTTS{
        margin-left: 10.8%;
        font-size: 1rem;
    }
    .playbar{
        
        height:auto;

        
    }
    .play{
      
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 1.5rem;
        
    }
    .write{  
       
        height:1.5rem;
        font-size: 0.9rem;
       
    }
}