#wrapprofile{
    position:relative;
    /* border-style: solid;
    border-color:brown; */
    /* height:14rem; */
    width:auto;
    display:inline-block;
    text-decoration: none;
    color:"#2f2e6e";
    margin:0 1.2rem;
    
}

.photo{
    background-repeat: no-repeat;
    background-position: cover;
    background-color: #2F2E6F;
    border-width: 0.1rem;
    border-radius: 5rem;
    object-fit: cover;
    /* text-align: center; */
    height:9rem;
    width:9rem;
    /* border-style: solid;
    border-color:grey; */
    /* margin-bottom:-3px; */
    /* vertical-align: bottom; */
}

#wrapprofile p{
    /* border-style: solid; */
    text-align: center;
    color:"#2f2e6e";
    text-decoration:'none';
}