.App {
    font-family: apple;
}

::selection{
    background-color:#2F2E6F;
    color:white;
}

@font-face {
    font-family: apple;
    src: url(./Font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: space;
    src: url(./Font/space\ age.ttf);
}