.App {
    font-family: apple;
}

::selection{
    background-color:#2F2E6F;
    color:white;
}

@font-face {
    font-family: apple;
    src: url(./Font/AppleSDGothicNeoM.ttf);
}

@font-face {
    font-family: space;
    src: url(./Font/space\ age.ttf);
}

@font-face {
    font-family: 'YdestreetL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


